blinker
certifi
chardet
charset-normalizer
click
colorama
conllu
emoji
filelock
Flask
fsspec
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
pandas
protobuf
python-dateutil
pytz
regex
requests
scikit-learn
scipy
setuptools
six
sympy
threadpoolctl
torch
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
